@using ACTO.Web.ViewModels.Liquidations
@model LiquidationApproveByCashierViewModel
<hr class="hr-2 bg-primary">
<h1 class="bg-primary text-white font-weight-bold text-center p-3 w-60 mx-auto rounded mx-auto text-warning">Approve Liquidation</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form class="form border-primary-4 rounded p-3 w-100 mx-auto mt-3" enctype="multipart/form-data">


    <div asp-validation-summary="ModelOnly"></div>
    <input hidden readonly type="number" asp-for=@Model.LiquidationId value=@Model.LiquidationId />
    <div class=" row container-fluid justify-content-center">
        <div class="col-1 bg-primary text-warning font-weight-bold border border-dark text-left">Type:</div>
        <div class="col-2 bg-primary text-warning font-weight-bold border border-dark text-center">Excursion name:</div>
        <div class="col-1 bg-primary text-warning font-weight-bold border border-dark text-center">Ad.</div>
        <div class="col-1 bg-primary text-warning font-weight-bold border border-dark text-center"> Ch.</div>
        <div class="col-2 bg-primary text-warning font-weight-bold border border-dark text-center">Price per adult:</div>
        <div class="col-2 bg-primary text-warning font-weight-bold border border-dark text-center">Price per child:</div>
        <div class="col-1 bg-primary text-warning font-weight-bold border border-dark text-left">Discount:</div>
        <div class="col-2 bg-primary text-warning font-weight-bold border border-dark text-center">Total sum:</div>
    </div>
    @for (var i = 0; i < Model.Tickets.Count; i++)
    {
        var current = @Model.Tickets[i];

        <div class="row container-fluid justify-content-center">
            <div readonly class="col-1 text-primary font-weight-bold border border-dark  text-center"> Ticket</div>
            <div readonly class="col-2 text-primary font-weight-bold border border-dark  text-center"> @current.ExcursionName</div>
            <div readonly class="col-1 text-primary font-weight-bold border border-dark  text-center"> @current.AdultCount</div>
            <div readonly class="col-1 text-primary font-weight-bold border border-dark  text-center"> @current.ChildCount</div>

            <div readonly class="col-2 text-primary font-weight-bold border border-dark  text-center"> @current.PricePerAdult</div>
            <div readonly class="col-2 text-primary font-weight-bold border border-dark  text-center"> @current.PricePerChild</div>
            <div readonly class="col-1 text-primary font-weight-bold border border-dark  text-center"> @current.Discount</div>
            <div readonly class="col-2 text-primary font-weight-bold border border-dark  text-center"> @current.PriceAfterDiscount</div>
        </div>

        foreach (var refund in current.Refunds)
        {
            <div class="row container-fluid justify-content-center">
                <div readonly class="col-1 text-primary font-weight-bold border border-dark  text-center"> R.</div>
                <div readonly class="col-2 text-primary font-weight-bold border border-dark  text-center"> @current.ExcursionName</div>
                <div readonly class="col-1 text-primary font-weight-bold border border-dark  text-center"> @refund.AdultCount</div>
                <div readonly class="col-1 text-primary font-weight-bold border border-dark  text-center"> @refund.ChildCount</div>

                <div readonly class="col-2 text-primary font-weight-bold border border-dark  text-center"> @current.PricePerAdult</div>
                <div readonly class="col-2 text-primary font-weight-bold border border-dark  text-center"> @current.PricePerChild</div>
                <div readonly class="col-1 text-primary font-weight-bold border border-dark  text-center"> @current.Discount</div>
                <div readonly class="col-2 text-primary font-weight-bold border border-dark  text-center"> -@refund.Amount</div>
            </div>
        }

    }
    <hr class="hr-2 bg-primary">

    <div id="total-owned" class="d-flex justify-content-center">
        <div class="form-group mx-auto w-32">
            <div class="d-flex justify-content-center">
                <label asp-for=@Model.TotalOwned class="text-primary h5"></label>
            </div>
            <input readonly type="number"
                   class="form-control text-primary text-center"
                   asp-for=@Model.TotalOwned>
            <span asp-validation-for=@Model.TotalOwned class="text-danger"></span>
        </div>
    </div>

    <hr class="hr-2 bg-primary">

    <div id="second-separator" class="d-flex justify-content-between">

        <div id="cash" class="d-flex justify-content-center">
            <div class="form-group mx-auto w-45">
                <div class="d-flex justify-content-center">
                    <label asp-for=@Model.Cash class="text-primary h5">Cash</label>
                </div>
                <input readonly type="number"
                       step=".01"
                       class="form-control text-primary text-center"
                       min=0.0
                       asp-for=@Model.Cash>
                <span asp-validation-for=@Model.Cash class="text-danger"></span>
            </div>
        </div>


        <div id="total-accumulated" class="d-flex justify-content-center">
            <div class="form-group mx-auto w-32">
                <div class="d-flex justify-content-center">
                    <label asp-for=@Model.TotalAccumulated class="text-primary h5"></label>
                </div>
                <input readonly type="number"
                       class="form-control text-primary text-center"
                       asp-for=@Model.TotalAccumulated>
                <span asp-validation-for=@Model.TotalAccumulated class="text-danger"></span>
            </div>
        </div>

        <div id="credit-card" class="d-flex justify-content-center">
            <div class="form-group mx-auto w-45">
                <div class="d-flex justify-content-center">
                    <label asp-for=@Model.CreditCard class="text-primary h5">Credit Card</label>
                </div>
                <input readonly type="number"
                       min=0
                       step=".01"
                       class="form-control text-primary text-center"
                       asp-for=@Model.CreditCard>
                <span asp-validation-for=@Model.CreditCard class="text-danger"></span>
            </div>
        </div>


    </div>

    <hr class="hr-2 bg-primary">

    <div class="d-flex justify-content-center mt-3 ml-3">
        <button formmethod="post" asp-area="Finance" asp-controller="Cashier" asp-action="LiquidationConfirm" class="btn btn-primary font-weight-bold">Approve Liquidation</button>
    </div>
    <div class="d-flex justify-content-center mt-3 ml-3 mr-3">
        <button formmethod="post" asp-area="Finance" asp-controller="Cashier" asp-action="LiquidationDenie" class="btn btn-primary font-weight-bold">Denie Liquidation</button>
    </div>
</form>

<script src="~/js/site.js"></script>