
@using ACTO.Web.InputModels.Excursions
@model ExcursionCreateCombinedModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr class="hr-2 bg-primary mt-4">
<h1 class="bg-primary text-white font-weight-bold text-center p-3 w-60 mx-auto rounded">Organize Excursion</h1>

<hr class="hr-2 bg-primary mt-4">
@* here below, is how we insert files/pictures*@
<form method="post" class="form border-primary-4 rounded p-3 w-60 mx-auto mt-3" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <div id="first-separator" class="d-flex justify-content-between">
        <div id="arrival-time" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="InputModel.Arrival" class="text-primary h5">Arrival time</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="arrival-time-input"
                   placeholder="Arrival time..."
                   asp-for=@Model.InputModel.Arrival>
            @*//TODO: HERE ADD to some format!*@
            <span asp-validation-for="InputModel.Arrival" class="text-danger"></span>
        </div>

        <div id="departure-time" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="InputModel.Departure" class="text-primary h5">Departure time</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="departure-time-input"
                   placeholder="Departure time..."
                   asp-for=@Model.InputModel.Departure>
            @*//TODO: HERE ADD to some format!*@
            <span asp-validation-for='InputModel.Departure' class="text-danger"></span>
        </div>
    </div>

    <hr class="hr-2 bg-primary mt-4">

    <div id="second-separator" class="d-flex justify-content-between">
        <div id="start-point" class="form-group mx-auto w-45">
            <div class="form-group mx-auto w-45">
                <label asp-for="InputModel.StartingPoint" class="text-primary h5">Start point</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="start-point-input"
                   placeholder="Start point..."
                   asp-for="InputModel.StartingPoint">
            <span asp-validation-for="InputModel.StartingPoint" class="text-danger"></span>
        </div>

        <div id="end-point" class="form-group mx-auto w-45">
            <div class="form-group mx-auto w-45">
                <label asp-for="InputModel.EndPoint" class="text-primary h5">End point</label>
            </div>
            @*step="0.01" means stepper +0.01! for numbers only !!!! silly!*@
            <input type="text"
                   class="form-control text-primary text-center"
                   id="end-point-input"
                   placeholder="End point..."
                   asp-for="InputModel.EndPoint">
            <span asp-validation-for="InputModel.EndPoint" class="text-danger"></span>
        </div>
    </div>

    <hr class="hr-2 bg-primary mt-4">

    <div id="third-separator" class="d-flex justify-content-between">
        <div id="excursion-price" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.InputModel.Price" class="text-primary h5">Price per adult</label>
            </div>
            <input type="number"
                   class="form-control text-primary text-center"
                   id="picture"
                   placeholder="Price..."
                   min="0.00"
                   asp-for=@Model.InputModel.Price>

            <span asp-validation-for="@Model.InputModel.Price" class="text-danger"></span>
        </div>

        <hr class="hr-2 bg-primary mt-4">
        <div id="excursion-child-price" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.InputModel.ChildPrice" class="text-primary h5">Price per Child</label>
            </div>
            <input type="number"
                   class="form-control text-primary text-center"
                   id="excursion-child-price-input"
                   placeholder="Price..."
                   min="0.00"
                   asp-for=@Model.InputModel.ChildPrice>

            <span asp-validation-for="@Model.InputModel.ChildPrice" class="text-danger"></span>
        </div>




    </div>
    <hr class="hr-2 bg-primary mt-4">
    <div id="excursion-type" class="form-group mx-auto w-45">
        <div class="d-flex justify-content-center">
            <label asp-for="InputModel.ExcursionTypeId" class="text-primary h5">Excursion type</label>
        </div>
        <select class="form-control text-primary" id="exrusion-type-input" asp-for="InputModel.ExcursionTypeId">
            <option selected disabled>--- Select excursion type ---</option>
            @foreach (var type in Model.ViewModel.ExcursionTypes)
            {
                <option value="@type.Id">@type.Name</option>
            }
        </select>
    </div>

    <hr class="hr-2 bg-primary mt-4">

    <div id="fourth-separator" class="d-flex justify-content-between">
        <div id="tourist-capacity" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="InputModel.TouristCapacity" class="text-primary h5">Tourist Capacity</label>
            </div>
            <input type="number"
                   class="form-control text-primary text-center"
                   id="tourist-capacity-input"
                   placeholder="Tourist capacity..."
                   min="0"
                   asp-for="InputModel.TouristCapacity">
            <span asp-validation-for="InputModel.TouristCapacity" class="text-danger"></span>
        </div>

        <div id="languages" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="InputModel.LanguageIds" class="text-primary h5">Language Type</label>
            </div>
            <select class="form-control text-primary" multiple="multiple" id="languages-input" asp-for="InputModel.LanguageIds">
                <option selected disabled>--- Select single or multiple languages ---</option>
                @foreach (var type in Model.ViewModel.Languages)
                {
                    <option  value="@type.Id">@type.Name</option>
                }
            </select>
        </div>
    </div>
    <hr class="hr-2 bg-primary mt-4">
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary font-weight-bold">Create Product</button>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*//TODO: attach this to the above for dateTime visualizer!*@
<script>
    window.onload = () => {
        $('#arrival-time-input').datetimepicker({
            format: 'd.m.Y H:i',
            lang: 'en'
        });
        $('#departure-time-input').datetimepicker({
            format: 'd.m.Y H:i',
            lang: 'en'
        })
    };
</script>
